.typing{
    color: crimson;
}
.person{
    width: 100%;
    height: 850px;
    padding: 148px 49px 29px 95px;
    position: relative;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}
.person__person-bg{
    position: absolute;
    bottom: 0%;
    right: 0%;
    /* background-image: url(./assets/img/background-image); */
    background-position: 0% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    height: 100%;
    z-index: -1;
}

.person__person-top{
    display: flex;
    align-items: center;
    padding-left: 5px;
}
.person__person-man-icon{
    padding-right: 13.8px;
}
.person__person-man-icon i{
    display: inline-block;
    font-size: 24px;
    color: #ED2B23;
}
.person__set{
    position: absolute;
    bottom: 0%;
    right: 8%;
    height:850px;
    z-index: -1;
    text-align: right;
}
.person__set img{
    width: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    height: 100%;
   
}
.person__person-h4{
    font-size: 34px;
    color: #fff;
    letter-spacing: 31.96;
    font-weight: 400;
  
}


.person__mudssar-title{
    font-size: 68.92px;
    color: #fff;
    font-weight: bold;
    line-height: 82.71px;
    text-transform: uppercase;
}
.person__person-my-title{
    font-size: 27px;
    margin-top: 146.9px;
}

.person__mudssar-subtile{
    position: relative;
   
}

.person__person-subline-title{
    font-size: 21.98px;
    color: #545469;
    line-height: 26.37px;
    display: inline-block;
    text-align: right;
    position: absolute;
    bottom: -25px ;
    left: 337px;
}

.person__person-left-content{
    display: flex;
}
.person__box-icon-botton{
    align-self: flex-start;
    margin-right: 32px;
    margin-top: -4px;
}
.person__box-icon-botton span i{
    display: inline-block;
    font-size: 32px;
}
.person__person-small-content{
    padding-left: 5px;
}
.person__person-h2{
    font-size: 22px;
    letter-spacing: 25;
    margin-bottom: -8px;
    color: #fff;
}

.person__person-punjab{
    font-size: 13.98px;
    letter-spacing: 25;
    display: inline-block;
    color:#6f778a;
}

.person__person-bottom-absolute{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 49px 29px 95px;
}

.person__person-social-content{
    display: flex;
    align-items: center;
    padding-top: 1rem;
}
.person__person-icon{
    font-size:17px;
    color: #fff;
    transition: all 0.3s ease-in-out;
    display: block;
    width: 50px;
    height: 44px;
    line-height: 44px;
    color:#6f778a;
}

.person__person-icon-center{
    width:80px ;
    text-align: center !important;
    border-left:1px solid  #55556A;
}
.person__person-icon-right{
    text-align: right !important;
    border-left:1px solid  #55556A;
}
.person__person-tooltip-a{
    font-size:12px;
    display: block;
    color: red;
    text-align: center;
    border-radius: 5px;
    padding: 8px 15px;
    background-color: #fff;
}

.person__box-icon-botton {
    padding-top: 8px;
}
.person__box-icon-botton span{
    display: inline-block;
    font-size: 25px;
}





@media(max-width:1750px){
    .person__person-bg{
        background-position: 35% 50%;
    }
    .person__set{
        right: 4%;
        height: 700px;
    }
}
@media(max-width:1500px){
    .person__person-bg{
        background-position: 43% 50%;
    }
    .person__set{
        right:14%;
        bottom: 0%;
        height:570px;
    }
}
@media(max-width:1366px){
    .person{
        padding-left: 50px;
        height: 630px;
        padding-top: 110px;
        background-position: 52% 50%;
    }
    .person__person-h4{ 
        font-size: 30px;
    }
} 
@media(max-width:1080px){
    .person__person-bg{
        background-position: 62% 50%;
    }
}
@media(max-width:992px){
    .person__set{
        right: 3%;
    }
    .person__mudssar-title{
        font-size: 56px;
    }
    .person__person-my-title{
        margin-top: 100px;
    }
    .person__person-subline-title{
        left: 314px;
    }
    .person__person-bottom-absolute{
        padding-left: 50px;
    }
}
@media (max-width:667px){
    .person__mudssar-title{
        font-size: 25px;
        line-height: 40px;
    }
    .person__person-my-title{
        font-size: 16px;
        margin-top: 57px;
    }
    .person__person-subline-title{
        left: 60px;
        font-size: 15px;
        color: red;
        bottom: -21px;
    }
}
@media(max-width:576px){
    .person{
        padding-left:30px ;
        height: 550px;
    }
    .person__person-bg{
        display: none;
    }
    .person__set{
        display: none;
    }
    .person__person-h4{
         font-size: 24px;
    }
    .person__mudssar-title{
        font-size: 25px;
    }
    .person__mudssar-subtile{
        padding-left: 10px;
    }
    .person__person-h2{
        font-size: 18px;
    }
    .person__person-punjab{
        font-size: 11px;
    }
    .person__person-bottom-absolute{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .person__person-h4{
        font-size: 24px;
    }
} 

