.language-row {
    padding-top: 97.3px;
    padding-bottom: 150px;
    display: flex;
    justify-content: space-between;
}

.language-col-3 {
    width: 100%;
    max-width: 25%;
    padding: 0 15px;
}

.language-span-title{
    font-size: 14px;
    line-height: 33px;
    letter-spacing: 25;
    color: #55556A;
    display: inline-block;
}
.language-h1{
    font-size: 24px;
    letter-spacing: 25;
    color: #fff;
    line-height: 33px;
    font-weight: bold;
    margin-top: -10px;
}

.language-dots-flex{
    margin-top: 41.9px;
    display: flex;
}
.language-span{
    width: 100%;
    max-width: 20px;
    height: 4px;
    background-color: #ED2B23;
    display: inline-block;
    
}
.language-span:not(:first-child){
    margin-left: 10px;
}
.language-span-light{
    background-color:#55556A;
    width: 100%;
    max-width: 20px;
    height: 4px;
    /* background-color: #ED2B23; */
    display: inline-block;
}


@media (max-width:1400px) {
    .language-row {
        padding-top: 70px;
        padding-bottom: 90px;
    }
}

@media (max-width:826px) {
    
}
@media (max-width:768px) {
    .language-row {
        flex-wrap: wrap;
    }
    .language-col-3 {
        max-width: 50%;
    }
   
    .language-mt-3{
        margin-top: 2rem; 
    }
}

@media (max-width:667px) {
    .language-col-3 {
        max-width: 100%;
        padding-top: 1.25rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid #55556A;
    }
    .language-border-top{
        border-top: 1px solid #55556A;
    }
    .language-dots-flex{
        margin-top: 30px;
    }
}


@media (max-width:576px) {
    .language-row {
        padding-top: 42px;
        padding-bottom: 40px;
    }
    .language-mt-3{
        margin-top: 0rem; 
    }
}