.pricing-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 90px;
    padding-bottom: 150px;
    flex-wrap: wrap;

}

.pricing-col-4 {
    width: 100%;
    max-width: 31%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.pricing-bg-img {
    width: 100%;
    height: 100%;
    height: 790px;
}

.pricing-bg-img img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.pricing-card {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 130px;
    padding-bottom: 118px;

}

.pricing-h2 {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
    padding-left: 30.4px;

}

.pricing-line {
    width: 100%;
    display: block;
    border: 1px solid #C9C9C9;
    margin-top: 16px;
    margin-bottom: 63px;

}

.pricing-list {
    margin-bottom: 62.3px;
    padding-left: 30.4px;

}

.pricing-group:not(:first-child) {
    margin-top: 17px;
}

.pricing-check {
    display: inline-block;
    padding-right: 30.3px;
    font-size: 14px;
    color: #55556A;

}

.check-red {
    color: #ED2B23;
}

.pricing-title {
    font-size: 14px;
    line-height: 26px;
    color: #55556A;
}

.pricing-btn {
    text-align: center;
}

.pricing-btn-a {
    width: 100%;
    max-width: 162px;
    height: 44px;
    line-height: 44px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    background-color: #ED2B23;
    transform: all 0.3s ease-in-out;
    display: inline-block;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
    border: 2px solid #cc2a24;

}

.pricing-btn-a:hover {
    background-color: #fff;
    color: #030318;
    border: 2px solid #171717;
}

.pricing-btn-a-1 {
    background-color: #fff;
    color: #030318;
    border: 2px solid #171717;
}
.pricing-btn-a-1:hover{
    background-color: #ED2B23 !important;
    color: #fff !important;
    border: 2px solid #cc2a24;
}
.pricing-table{
    position: absolute;
    top: 119px;
    right: 16px;
    width: 114px;
    height: 114px;
    border-radius: 50%;
    background-color: #030318;
    justify-content: center;
    display: flex;
    align-items: center;
  
}

.use-dolor i{
    display: inline-block;
    color: #fff;
    font-size: 15px;
    position: absolute;
    top: 38px;
    left: 22px;
   
}

.pricing-bg-red{
    background-color: #ED2B23;
}

.pricing-top-h1{
    color: #fff;
    font-size: 32px;
    font-weight: 600;
  
}

.pricing-top-00{
    position: absolute;
    top: 53px;
    right: 13px;
    font-size: 14px;
    color: #fff;
 
}



@media (max-width:1400px) {
    .pricing-row {
        padding-top: 50px;
        padding-bottom: 70px;
    }

    .pricing-col-4 {
        max-width: 29%;
    }

    .pricing-bg-img {
        height: 644px;
    }

    .pricing-card {
        padding-top: 110px;
        padding-bottom: 30px;
    }

    .pricing-h2 {
        line-height: 27px;
        font-size: 23px;
    }

    .pricing-line {
        margin-bottom: 30px;
    }

    .pricing-list {
        margin-bottom: 35px;
    }

    .pricing-group:not(:first-child) {
        margin-top: 10px;
    }

    .pricing-title {
        line-height: 26px;
    }
    .pricing-table{
        top: 104px;
        width: 95px;
        height: 95px;
    }
    .use-dolor i{
        top: 32px;
        left: 15px;
    }
    .pricing-top-h1{
        font-size: 28px;
    }
    .pricing-top-00{
        top: 48px;
        right: 8px;
    }
}

@media (max-width:1250px) {
    .pricing-row {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width:826px) {
    .pricing-col-4 {
        max-width: 44%;
        margin-top: 2.5rem;
    }
}

@media (max-width:667px) {
    .pricing-col-4 {
        max-width: 90%;
    }
}

@media (max-width:576px) {
    .pricing-row {
        padding-top: 15px;
        padding-bottom: 40px;
    }
}